* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "VT323", monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
section.startScreen {
  display: flex;
  background-color: rgb(227, 227, 227);
  color: black;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 420px;
  border: 4px dashed black;
}
section h1 {
  font-size: 3em;
}
section.startScreen ul {
  list-style: none;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section.startScreen ul li:hover {
  margin-left: 8px;
}
section.startScreen .active {
  margin-left: 0px;
}
section.startScreen .active {
  margin-left: 8px;
}

.arrows {
  display: flex;
  height: 100%;
  position: absolute;
  width: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid black;
}

.information {
  width: 70%;
  background-color: rgb(225, 224, 224);
  border-left: 2px solid darkgrey;
  border-top: 2px solid darkgrey;
}
.menu {
  border-top: 2px solid darkgrey;
  width: 30%;
  position: relative;
}
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
}
section.characterSelectScreen {
  display: flex;
  background-color: lightgray;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 420px;
  border: 4px dashed black;
}

.second-header {
  color: black;
}

.chosenCharacter {
  border: 2px solid darkgrey;
  height: 30%;
  width: 30%;
  margin: 10px 10px;
}

.grid {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.grid div {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 12%;
  height: 100%;
}

.grid div:hover {
  margin-top: 20px;
}

.character-option-dog {
  background-image: url("https://img.pokemondb.net/sprites/red-blue/normal/blastoise.png");
  background-repeat: no-repeat;
  background-position: center;
}
.character-option-cat {
  background-image: url("https://img.pokemondb.net/sprites/red-blue/normal/charizard.png");
  background-repeat: no-repeat;
  background-position: center;
}
.character-option-turtle {
  background-image: url("https://img.pokemondb.net/sprites/red-blue/normal/snorlax.png");
  background-repeat: no-repeat;
  background-position: center;
}
.character-option-snake {
  background-image: url("https://img.pokemondb.net/sprites/red-blue/normal/arbok.png");
  background-repeat: no-repeat;
  background-position: center;
}
.arrow-down-cat {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: relative;
  left: 50px;
}
.arrow-down-dog {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: relative;
  left: 50px;
}
.arrow-down-snake {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: relative;
  left: 50px;
}
.arrow-down-turtle {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid black;
  position: relative;
  left: 50px;
}

section.battle {
  display: flex;
  background-color: white;
  color: black;
  flex-direction: column;
  align-items: center;
  height: 45vh;
  width: 420px;
  border: 4px dashed black;
  position: relative;
}

.life {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}
progress {
  margin: 0 5px;
  border: none;
  height: 7px;
  position: relative;
  bottom: 2px;
}
.player-life-bar {
  border: 2px solid black;
  background-color: rgb(227, 227, 227);
}

p.characterName {
  text-align: center;
}

p.CpuName {
  text-align: center;
}

.cpu-life-bar {
  border: 2px solid black;
  background-color: rgb(227, 227, 227);
}

p.cpu-hp {
  position: relative;
  bottom: 4px;
}
p.player-hp {
  position: relative;
  bottom: 4px;
}

main {
  /* border: 2px solid darkgray; */
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}
.character-model {
  /* border: 2px solid black; */
  width: 45%;
  height: 100%;
}
.cpu-model {
  /* border: 2px solid black; */
  width: 45%;
  height: 100%;
}

.decisions {
  border-top: 2px solid darkgray;
  background-color: rgb(227, 227, 227);
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
}

.group {
  display: flex;
  height: 100%;
  justify-content: space-between;
  border-top: 2px solid darkgrey;
}
.choice {
  width: 30%;
  height: 100%;
}
.choice ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.choice ul li {
  margin: 20px 0px;
}
.choice ul li:hover {
  color: darkgrey;
}

.content {
  width: 70%;
  height: 97%;
  background-color: rgb(196, 196, 196);
  border-left: 2px solid darkgrey;
  position: relative;
  bottom: 0px;
}
.attack-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.set-one {
  height: 50%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.set-two {
  height: 50%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content p:hover {
  color: white;
}
h4 {
  position: relative;
  top: 9px;
  font-size: 2em;
}
section.hidden {
  display: none;
}
.ending {
  background-color: darkgray;
  position: absolute;
  top: 60%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ending h2:hover {
  color: white;
}

.hidden {
  display: none;
}
.opacity {
  opacity: 0;
}
.show {
  opacity: 100%;
}
.chosenCharacter p {
  text-align: center;
}
@media screen and (min-width: 800px) {
  body {
    background-image: url(../Images/gamebot.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}
